
.page-two {
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
  }
  
  .form-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .pet-info,
  .skills-section {
    width: 48%; 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .add-pet-button {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }